body{
    font-family: sans-serif;
    margin: 20px 40px;}


.divItems{
    position: relative;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    float: left;
    width: 136px;
    height: 50px;
    line-height: 50px;
    margin-left: 50px;
    color: white;
    visibility: hidden;
}

.mainDiv{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: rgb(0,50,100);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,49,144,1) 50%, rgba(49,144,163,1) 100%);
}
.spacerBox{
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    margin-top: 450px;
    margin-left: 50px;
}
.menuInfo{
    text-align: center;
    padding:0;
    margin:0;
    color: whitesmoke;

}
.mainBox{
    font-size: 20px;
    cursor: pointer;
    transition: all .6s;
    color: whitesmoke;
}
.menuTitle{
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    color: whitesmoke;
}
.sideMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #07074b;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}
.closeBtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
    color: whitesmoke;
    cursor: pointer;
}
